header{
    font-size: 50px;
    border: dotted 5px blue;
}
body{
    background-color: rgb(11, 221, 151);
    color:azure;
    font-family: "Bitcount Grid Double", system-ui;
}
header{
    font-size: 50px;
}
h1{
    font-size: 330px;
}
p{
    font-size: 20px;
}